    <!--Preloader Markup Initially hidden  -->
    <div class="page-preloader" style="display: none">
    	<div class="page-preloader-b page-preloader-sec-1">
    		<div></div>
    	</div>
    	<div class="page-preloader-b page-preloader-sec-2">
    		<div></div>
    	</div>
    	<div class="page-preloader-b page-preloader-sec-3">
    		<div></div>
    	</div>
    	<div class="page-preloader-b page-preloader-sec-4">
    		<div></div>
    	</div>
    </div>

    <!-- Navbar -->
    <nav class="site-navigation navbar navbar-default navbar-fixed-top">
    	<div class="navbar-header">

    		<!-- Navbar Toggle Button When Hidden -->
    		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
    			<span class="sr-only">Toggle navigation</span>
    			<span class="icon-bar"></span>
    			<span class="icon-bar"></span>
    			<span class="icon-bar"></span>
    		</button>

    		<!-- Brand Name -->
    		<a class="navbar-brand" href="#">Initializer</a>
    	</div>


    	<!-- Navbar Links Container-->
    	<div class="collapse navbar-collapse" id="main-nav-collapse">

    		<!-- Navbar Links -->
    		<ul class="nav navbar-nav navbar-right">
    			<li><a href="#home-screen"><i class="fa fa-home theme-color"></i> Home</a></li>
    			<li><a href="#services"><i class="fa fa-cog theme-color"></i> Services</a></li>
    			<li><a href="#pricing"><i class="fa fa-dollar theme-color"></i> Pricing</a></li>
    			<li><a href="#work"><i class="fa fa-code theme-color"></i> Work</a></li>
    			<li><a href="#features"><i class="fa fa-check-circle theme-color"></i> Features</a></li>
    			<li><a href="#contact"><i class="fa fa-envelope theme-color"></i> Contact</a></li>
    		</ul>
    	</div>

    </nav>


    <!-- Home Screen -->
    <section id="home-screen" class="home-screen full-screen">


    	<!-- Icon Slider In Home Screen -->
    	<div class="home-screen-slider">
    		<ul class="sequence-canvas">

    			<!-- Frame 1 For Icon Slider -->
    			<li class="frame">
    				<div class="icon-shadow-wrap">
    					<div class="icon"><i class="icon-seo-target-audience3"></i></div>
    				</div>
    			</li>


    			<!-- Frame 2 For Icon Slider -->
    			<li class="frame">
    				<div class="icon-shadow-wrap">
    					<div class="icon"><i class="icon-seo-code-optimization3"></i></div>
    				</div>
    			</li>



    			<!-- Frame 3 For Icon Slider -->
    			<li class="frame">
    				<div class="icon-shadow-wrap">
    					<div class="icon"><i class="icon-seo-analityc-3"></i></div>
    				</div>

    			</li>



    			<!-- Frame 4 For Icon Slider -->
    			<li class="frame">
    				<div class="icon-shadow-wrap">
    					<div class="icon"><i class="icon-seo-mobile-marketing3"></i></div>
    				</div>
    			</li>

    		</ul>

    		<!-- Previous Slide Nav -->
    		<a class="prev-slide home-screen-slider-nav" href="#prev-slide"><i class="fa fa-angle-left"></i></a>


    		<!-- Next Slide Nav -->
    		<a class="next-slide home-screen-slider-nav" href="#next-slide"><i class="fa fa-angle-right"></i></a>


    		<!-- Play/Pause Button For Slider -->
    		<!--<a class="play-pause-home-screen-slider home-screen-slider-nav right-align" href="#pause-slide"><i class="fa fa-pause slider-paused"></i><i class="fa fa-play slider-playing"></i></a>-->

    	</div>

    	<!-- Text Slider For Homescreen -->
    	<div class="brand-text-slider">
    		<div class="brand-text-slider-inner flexslider">
    			<ul class="slides">

    				<!-- Frame 1 For Text Slider -->
    				<li>
    					<h2>We Are <b>MediaMilk</b></h2>
    				</li>


    				<!-- Frame 2 For Text Slider -->
    				<li>
    					<h2>We Build <b>Design</b></h2>
    				</li>


    				<!-- Frame 3 For Text Slider -->
    				<li>
    					<h2>For <b>You</b></h2>
    				</li>



    				<!-- Frame 4 For Text Slider -->
    				<li>
    					<h2>For Your <b>Brand</b></h2>
    				</li>


    			</ul>
    		</div>
    	</div>

    	<!-- Navigate To Services Link -->
    	<a href="#services" class="next-screen animated fadeInUpBig"><i class="fa fa-angle-double-down"></i></a>
    </section>


    <!-- Services Section -->
    <section id="services" class="services ">

    	<!-- Service Item Left ALigned-->
    	<article class="service-item service-item-left-align">
    		<div class="container">
    			<div class="row">
    				<div class="col-sm-4"><i class="service-icon icon-seo-page-quality3" data-animation="rotateIn"></i></div>
    				<div class="col-sm-offset-1 col-sm-7 service-content">


    					<h2 class="service-title" data-animation="fadeInRightBig">Design Quality</h2>
    					<div class="service-text" data-animation="fadeInRightBig" data-animation-delay=".2s">
    						<p>
    							We Provide Higher Quality Design, Served More Than 543 Clients Over The Globe.
    						</p>
    					</div>


    				</div>
    			</div>
    		</div>
    	</article>



    	<!-- Service Item Right ALigned-->
    	<article class="service-item service-item-right-align theme-bg">

    		<div class="container">
    			<div class="row">
    				<div class="col-sm-offset-1 col-sm-4 visible-xs"><i class="service-icon icon-seo-mobile-marketing3" data-animation="rotateIn"></i></div>

    				<div class="col-sm-7  service-content">

    					<h2 class="service-title" data-animation="fadeInLeftBig">Fully Responsive</h2>
    					<div class="service-text" data-animation="fadeInLeftBig" data-animation-delay=".2s">
    						<p>
    							This Is an Ultra Responsive Design With Targetting All  Devices Incuding Portables.
    						</p>
    					</div>

    				</div>
    				<div class="col-sm-offset-1 col-sm-4 hidden-xs"><i class="service-icon icon-seo-mobile-marketing3" data-animation="rotateIn"></i></div>

    			</div>
    		</div>
    	</article>


    	<!-- Service Item Left ALigned-->
    	<article class="service-item service-item-left-align">

    		<div class="container">
    			<div class="row">
    				<div class="col-sm-4"><i class="service-icon icon-seo-landing-page3" data-animation="rotateIn"></i></div>
    				<div class="col-sm-offset-1 col-sm-7  service-content">

    					<h2 class="service-title" data-animation="fadeInRightBig">Landing Page</h2>
    					<div class="service-text" data-animation="fadeInRightBig" data-animation-delay=".2s">
    						<p>
    							Best For Showcase Your Product, Work And Even Works With Application Showcase.
    						</p>
    					</div>

    				</div>
    			</div>
    		</div>
    	</article>



    	<!-- Service Item Right ALigned-->
    	<article class="service-item service-item-right-align theme-bg">

    		<div class="container">
    			<div class="row">
    				<div class="col-sm-offset-1 col-sm-4 visible-xs"><i class="service-icon icon-seo-website-design3" data-animation="rotateIn"></i></div>

    				<div class="col-sm-7  service-content">

    					<h2 class="service-title" data-animation="fadeInLeftBig">Portfolio</h2>
    					<div class="service-text" data-animation="fadeInLeftBig" data-animation-delay=".2s">
    						<p>
    							Show Your Work With Initializer.And Stand Out From Milions Of Websites.
    						</p>
    					</div>

    				</div>
    				<div class="col-sm-offset-1 col-sm-4 hidden-xs"><i class="service-icon icon-seo-website-design3" data-animation="rotateIn"></i></div>

    			</div>
    		</div>
    	</article>


    	<!-- Service Item Left ALigned-->
    	<article class="service-item service-item-left-align">

    		<div class="container">
    			<div class="row">
    				<div class="col-sm-4"><i class="service-icon icon-seo-page-speed3" data-animation="rotateIn"></i></div>
    				<div class="col-sm-offset-1 col-sm-7  service-content">

    					<h2 class="service-title" data-animation="fadeInRightBig">Rapid Production</h2>
    					<div class="service-text" data-animation="fadeInRightBig" data-animation-delay=".2s">
    						<p>
    							Work Faster, Earn Faster. With Initializer Rapid Production.
    						</p>
    					</div>

    				</div>
    			</div>
    		</div>
    	</article>

    </section>


    <!-- Pricing Table Section -->
    <section id="pricing" class="pricing full-screen">

    	<!-- Background Animation For Pricing Table Section -->
    	<span class="bg-icon-abstract fa fa-dollar"></span>



    	<div class="container">
    		<div class="row">
    			<div class="col-sm-4 col-md-3 col-md-offset-1">

    				<!-- Pricing Table Item -->
    				<ul class="pricing-table-item" data-animation="fadeInLeftBig">

    					<li class="pricing-table-title">Starter</li>
    					<li class="pricing-table-price">
    						<span class="price-large">12
    							<span class="price-small">$</span>
    						</span>
    					</li>
    					<li>5 users</li>
    					<li>10 projects</li>
    					<li>10 GB amount of space</li>
    					<li>5 e-mail accounts</li>
    					<li class="pricing-table-sign-up">
    						<a href="#" class="btn btn-brand btn-lg"><i class="fa fa-lock"></i>  Sign Up</a>
    					</li>
    				</ul>
    			</div>
    			<div class="col-sm-4 col-md-4">


    				<!-- Pricing Table Item Featured-->
    				<ul class="pricing-table-item featured-plan" data-featured-text="Best Plan" data-animation="bounceInUp">
    					<li class="pricing-table-title">Pro</li>
    					<li class="pricing-table-price">
    						<span class="price-large">16
    							<span class="price-small">$</span>
    						</span>
    					</li>
    					<li>25 users</li>
    					<li>50 projects</li>
    					<li>100 GB amount of space</li>
    					<li>50 e-mail accounts</li>
    					<li class="pricing-table-sign-up">
    						<a href="#" class="btn btn-brand btn-lg"><i class="fa fa-lock"></i>  Sign Up</a>
    					</li>
    				</ul>

    			</div>
    			<div class="col-sm-4 col-md-3">

    				<!-- Pricing Table Item -->
    				<ul class="pricing-table-item" data-animation="fadeInRightBig">
    					<li class="pricing-table-title">Expert</li>
    					<li class="pricing-table-price">
    						<span class="price-large">30
    							<span class="price-small">$</span>
    						</span>
    					</li>
    					<li>100 users</li>
    					<li>500 projects</li>
    					<li>1000 GB amount of space</li>
    					<li>200 e-mail accounts</li>
    					<li class="pricing-table-sign-up">
    						<a href="#" class="btn btn-brand btn-lg"><i class="fa fa-lock"></i>  Sign Up</a>
    					</li>
    				</ul>

    			</div>
    		</div>
    	</div>
    </section>


    <!-- Work/Portfolio Cotainer -->
    <section id="work" class="portfolio full-screen">
    	<div class="container ">

    		<!-- Title -->
    		<h2 class="portfolio-section-title text-center">Our Work</h2>


    		<nav class="portfolio-filtering">
    			<!-- Portfilo Filtering Links -->
    			<ul>
    				<li><a href="#" class="active " data-filter="logo ui-design print-design">All</a></li>
    				<li><a href="#" data-filter="logo">Logos</a></li>
    				<li><a href="#" data-filter="ui-design">UI</a></li>
    				<li><a href="#" data-filter="print-design">Print</a></li>
    			</ul>
    		</nav>


    		<!-- Portfolio Items Container -->
    		<div class="portfolio-container">

    			<!-- Portfolio Items -->
    			<a href="#" class="portfolio-item logo" data-toggle="modal" data-target="#myModal">
    				<img src="assets/portfolio-placeholder.gif" alt="" class="img-responsive">
    				<span class="overlay"><span class="overlay-icon fa fa-plus"></span></span></a>
    				<a href="#" class="portfolio-item print-design" data-toggle="modal" data-target="#myModal">
    					<span class="overlay"><span class="overlay-icon fa fa-plus"></span></span>
    					<img src="assets/portfolio-placeholder.gif" alt="" class="img-responsive"></a>
    					<a href="#" class="portfolio-item print-design" data-toggle="modal" data-target="#myModal">
    						<span class="overlay"><span class="overlay-icon fa fa-plus"></span></span>
    						<img src="assets/portfolio-placeholder.gif" alt="" class="img-responsive"></a>
    						<a href="#" class="portfolio-item ui-design" data-toggle="modal" data-target="#myModal">
    							<span class="overlay"><span class="overlay-icon fa fa-plus"></span></span>
    							<img src="assets/portfolio-placeholder.gif" alt="" class="img-responsive"></a>
    							<a href="#" class="portfolio-item ui-design" data-toggle="modal" data-target="#myModal">
    								<span class="overlay"><span class="overlay-icon fa fa-plus"></span></span>
    								<img src="assets/portfolio-placeholder.gif" alt="" class="img-responsive"></a>
    								<a href="#" class="portfolio-item logo" data-toggle="modal" data-target="#myModal">
    									<span class="overlay"><span class="overlay-icon fa fa-plus"></span></span>
    									<img src="assets/portfolio-placeholder.gif" alt="" class="img-responsive"></a>
    									<a href="#" class="portfolio-item ui-design" data-toggle="modal" data-target="#myModal">
    										<span class="overlay"><span class="overlay-icon fa fa-plus"></span></span>
    										<img src="assets/portfolio-placeholder.gif" alt="" class="img-responsive"></a>
    										<a href="#" class="portfolio-item print-design" data-toggle="modal" data-target="#myModal">
    											<span class="overlay"><span class="overlay-icon fa fa-plus"></span></span>
    											<img src="assets/portfolio-placeholder.gif" alt="" class="img-responsive"></a>
    											<a href="#" class="portfolio-item print-design" data-toggle="modal" data-target="#myModal">
    												<span class="overlay"><span class="overlay-icon fa fa-plus"></span></span>
    												<img src="assets/portfolio-placeholder.gif" alt="" class="img-responsive"></a>
    												<a href="#" class="portfolio-item logo" data-toggle="modal" data-target="#myModal">
    													<span class="overlay"><span class="overlay-icon fa fa-plus"></span></span>
    													<img src="assets/portfolio-placeholder.gif" alt="" class="img-responsive"></a>
    													<a href="#" class="portfolio-item logo" data-toggle="modal" data-target="#myModal">
    														<span class="overlay"><span class="overlay-icon fa fa-plus"></span></span>
    														<img src="assets/portfolio-placeholder.gif" alt="" class="img-responsive"></a>
    														<a href="#" class="portfolio-item ui-design" data-toggle="modal" data-target="#myModal">
    															<span class="overlay"><span class="overlay-icon fa fa-plus"></span></span>
    															<img src="assets/portfolio-placeholder.gif" alt="" class="img-responsive"></a>

    														</div>

    														<!-- Portfolio Modal Popup (Need Each For Each Portfolio Item)-->
    														<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    															<button type="button" class="close portfolio-modal-close" data-dismiss="modal" aria-label="myModalLabel" aria-hidden="true"><i class="fa fa-times"></i></button>
    															<div class="hz-divider medium"></div>
    															<div class="container ">

    																<img class="img-responsive portfolio-description-imge" src="assets/portfolio-description-placehlder.gif" alt="">
    																<div class="hz-divider"></div>
    																<div class="portfolio-description-content">
    																	<h2 class="portfolio-description-title">Portfolio Title</h2>
    																	<hr>
    																	<p>
    																		Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
    																	</p>
    																	<p>
    																		Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut.
    																	</p>
    																	<p>
    																		Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
    																	</p>
    																	<img class="pull-left img-responsive img-thumbnail" src="assets/portfolio-placeholder.gif" alt="">
    																	<p>
    																		Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut.
    																	</p>
    																	<p>
    																		Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
    																	</p>
    																	<p>
    																		Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut.
    																	</p>
    																	<p>
    																		Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.
    																	</p>
    																	<p>
    																		Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut.
    																	</p>
    																	<p>
    																		Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel.
    																	</p>
    																</div>

    															</div>
    														</div>
    													</div>

    												</section>


    												<!-- Features -->
    												<section id="features" class="features">

    													<!-- Background Abstract Animation For Features Slider -->
    													<span class="bg-icon-abstract fa fa-lock"></span>


    													<!-- Features Slider -->
    													<div id="features-slider" class="carousel slide features-slider" data-ride="carousel">


    														<div class="carousel-inner">

    															<!-- Features Slider Frame 1 -->
    															<div class="item active features-slide">

    																<span class="features-slide-icon fa fa-lock"></span>
    																<h3 class="features-slide-title">We know secure, 256-bits of it in every interaction you do</h3>
    																<p class="features-slide-text">
    																	When you use Freedcamp you can feel 110% secure at every moment, we use the type of security Microsoft and other
    																	Fortune 500 companies use every day to protect our users. We also protect your data and information by never
    																	sharing it with anyone and backing it up daily.
    																</p>
    																<a class="features-slide-action btn"><i class="fa fa-download"></i>Download Now</a>


    															</div>


    															<!-- Features Slider Frame 2 -->

    															<div class="item  features-slide">
    																<span class="features-slide-icon fa fa-briefcase"></span>
    																<h3 class="features-slide-title">We build designs that best suites for Bussiness & Brand </h3>
    																<p class="features-slide-text">
    																	When you use Freedcamp you can feel 110% secure at every moment, we use the type of security Microsoft and other
    																	Fortune 500 companies use every day to protect our users. We also protect your data and information by never
    																	sharing it with anyone and backing it up daily.
    																</p>

    																<a class="features-slide-action btn"><i class="fa fa-download"></i>Download Now</a>

    															</div>




    															<!-- Features Slider Frame 3 -->
    															<div class="item  features-slide">

    																<span class="features-slide-icon fa fa-save"></span>
    																<h3 class="features-slide-title">Get one of our great design & save your valuable time</h3>
    																<p class="features-slide-text">
    																	When you use Freedcamp you can feel 110% secure at every moment, we use the type of security Microsoft and other
    																	Fortune 500 companies use every day to protect our users. We also protect your data and information by never
    																	sharing it with anyone and backing it up daily.
    																</p>
    																<a class="features-slide-action btn"><i class="fa fa-download"></i>Download Now</a>

    															</div>
    														</div>



    													</div>

    													<!-- Controls -->
    													<a class="features-slider-prev" href="#features-slider" data-slide="prev">
    														<span class="fa fa-angle-left"></span>
    													</a>
    													<a class="features-slider-next" href="#features-slider" data-slide="next">
    														<span class="fa fa-angle-right"></span>
    													</a>

    												</section>


    												<!-- Contact Section -->
    												<section id="contact" class="contact">

    													<div class="container">

    														<!-- Header And Title -->
    														<header class="contact-section-header">
    															<link href="css/theme-5.css.scss" rel="stylesheet">
    															<h2 class="contact-section-title" data-animation="fadeInUp">Get In Touch</h2>
    															<p class="contact-section-subtitle" data-animation="fadeInUp" data-animation-delay=".05s">We’re currently accepting new client projects. We look forward to serving you.</p>
    														</header>
    														<div class="row">
    															<div class="col-sm-9">


    																<!-- Contact Form -->
    																<form class="contact-form">

    																	<input type="text" class="form-control" placeholder="Full Name" data-animation="fadeInLeftBig" required="required">
    																	<input type="email" class="form-control" placeholder="Email Address" required="required" data-animation="fadeInLeftBig" data-animation-delay=".1s">
    																	<textarea rows="10" class="form-control" placeholder="Message" data-animation="fadeInLeftBig" data-animation-delay=".2s" required="required"></textarea>
    																	<button type="submit" class="btn btn-brand btn-lg" data-animation="fadeInLeftBig" data-animation-delay=".3s">Send Message   <i class="fa fa-arrow-circle-right"></i></button>
    																</form>
    															</div>


    															<!-- Contact Details -->
    															<div class="col-sm-3 contact-details">
    																<h3 class="contact-details-title" data-animation="fadeInRightBig">Contact Details</h3>
    																<p data-animation="fadeInRightBig" data-animation-delay=".1s">initializer@google.com</p>
    																<br>
    																<p data-animation="fadeInRightBig" data-animation-delay=".2s">(+01) 45 876 58425</p>

    																<p data-animation="fadeInRightBig" data-animation-delay=".3s">
    																	Initializer Studio,<br>
    																	8642 Street,<br>
    																	Liverpool,<br>
    																	London.
    																</p>
    															</div>
    														</div>
    													</div>

    													<!-- Map Holder -->
    													<div class="map-holder">

    														<!-- Map -->
    														<div class="map" id="gmap"></div>
    														<!-- Hide Map Button -->
    														<a href="#map-toggle" class="btn map-toggle-back btn-lg"><i class="fa fa-angle-left"></i>Hide</a>


    														<!-- Map Overlay -->
    														<div class="map-overlay">
    															<!-- Map Overlay Bg Animation -->
    															<span class="bg-icon-abstract fa fa-map-marker"></span>

    															<i class="map-icon fa fa-map-marker" data-animation="bounceIn"></i>
    															<br>
    															<!-- Show Map Button -->
    															<a href="#map-toggle" class="map-toggle btn" data-animation="bounceIn" data-animation-delay=".2s">Show Your Location</a>
    														</div>
    													</div>
    												</section>

    												<!-- Footer -->
    												<footer class="main-footer">


    													<!-- Social Icons -->
    													<section class="socials">
    														<div class="container">

    															<!-- Social Icon Items -->
    															<a href="#socialLink" data-animation="bounceIn" data-animation-delay=".4s">
    																<img src="assets/01_twitter.png" alt="socialLinkIcon"></a>
    																<a href="#socialLink" data-animation="bounceIn" data-animation-delay=".3s">
    																	<img src="assets/02_facebook.png" alt="socialLinkIcon"></a>
    																	<a href="#socialLink" data-animation="bounceIn" data-animation-delay=".2s">
    																		<img src="assets/03_youtube.png" alt="socialLinkIcon"></a>
    																		<a href="#socialLink" data-animation="bounceIn" data-animation-delay=".1s">
    																			<img src="assets/04_dribbble.png" alt="socialLinkIcon"></a>
    																			<a href="#socialLink" data-animation="bounceIn">
    																				<img src="assets/07_linkedin.png" alt="socialLinkIcon"></a>
    																				<a href="#socialLink" data-animation="bounceIn">
    																					<img src="assets/09_vimeo.png" alt="socialLinkIcon"></a>
    																					<a href="#socialLink" data-animation="bounceIn" data-animation-delay=".1s">
    																						<img src="assets/13_pinterest.png" alt="socialLinkIcon"></a>
    																						<a href="#socialLink" data-animation="bounceIn" data-animation-delay=".2s">
    																							<img src="assets/14_google-plus.png" alt="socialLinkIcon"></a>
    																							<a href="#socialLink" data-animation="bounceIn" data-animation-delay=".3s">
    																								<img src="assets/16_flickr.png" alt="socialLinkIcon"></a>
    																								<a href="#socialLink" data-animation="bounceIn" data-animation-delay=".4s">
    																									<img src="assets/22_skype.png" alt="socialLinkIcon"></a>
    																								</div>
    																							</section>

    																							<!-- Copyright -->
    																							<section class="copyright">
    																								<p>©Copyright all rights reserved. @2013 Initializer Pvt.Ltd</p>
    																							</section>
    																						</footer>



    																						<!-- Jquery -->
    																						<script src="js/jquery-1.10.2.js"></script>

    																						<!-- Bootstrap Js -->
    																						<script src="js/bootstrap.js"></script>

    																						<!-- Waypoints Js For Scrolling Elements -->
    																						<script src="plugins/waypoints/waypoints.js"></script>


    																						<!-- MixitUp For Portfolio Filtering -->
    																						<script src="plugins/mixitup/jquery.mixitup.min.js"></script>


    																						<!-- FlexSlider For Text Slider In Homescreen -->
    																						<script src="plugins/flexSlider/jquery.flexslider.js"></script>


    																						<!-- Sequence Slider For Icons SLider In Homescreen -->
    																						<script src="plugins/sequence/jquery.sequence.js"></script>


    																						<!-- Enable Resonsiveness in Older Browsers [IE8- ] -->
    																						<script src="plugins/respond/respond.src.js"></script>


    																						<!-- Map In Contact Page -->
    																						<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script><script src="https://maps.gstatic.com/intl/en_us/mapfiles/api-3/17/7/main.js" type="text/javascript"></script>


    																						<!-- Required Jquery Script For Initializer -->
    																						<script src="js/initializer.js"></script>